section{
    height: 120vh;
    /* height: 400px; */ 
}
@media (max-width: 800px){
  section{
    height: 95vh;
  }
}
@media (max-width: 570px){
  section{
    height: 70vh;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }
}
@media (max-width: 450px){
  section{
    height: 60vh;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }
}
.grid3{
    height: 90vh;
}

.grid7{
    height: 90vh;
    
}
.grid8{
  height: 180vh;
}
.grid6{
  background-image: url("/gambar/bg-1.jpg");
  height: 270vh;
  
}
@media (max-width: 767px){
  .grid6{
    height: 180vh;
  }
}

@media (max-width: 600px){
  .grid6{
    height: 200vh;
  }
}
@media (max-width: 450px){
  .grid6{
    height: 240vh;
  }
}

.grid4{
  background-image: url("/gambar/bg-1.jpg");
}
@media (min-width: 575px){
  .grid8{
    height: 100vh;
  }
}
@media (max-width: 460px){
  .grid8{
    height: 160vh;
  }
}


/* .navbar{
   
} */


body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #181818;
    color: #d1d1d1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  
}

.ha{
    position: fixed;
    top: 100px;
    z-index: 10;
}

.header{
    width: 100%;
   
    background-color:#181818;
    border-bottom: 1px solid #181818;
}

.text-primary {
    color: #ff9d00!important;
}
.span-orange {
    color: #ff9d00;
}


.header-newsletter-button{
    display: block;
    border: none;
    cursor: pointer;
    line-height: 1;
    color: #222;
    background-color: #d4ab03;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    width: 100%;
    
    font-size: .90rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

}

.ml-auto{
    margin-right: auto !important;
}

/* button i[class^="fas fa"], button i[class*=" fa-"], button i.fa{
    text-align: end;
    padding: 1px;
    margin-left: 5px;
} */




.header-newsletter button:hover {
    background-color: lightgray;
}


@media (max-width: 1024px){
    .header-newsletter-button{ padding: 10px 40px 10px 15px;
 }   
}


.header-newsletter{
    /* background: #d4ab03; */
    
    padding: 0;
    cursor: pointer;

        position: absolute;
        top: 0;
        right: 250px;
        z-index: 11;
        
    box-sizing: inherit;

}

.header-top{
    display: block;
    text-align: right;
    padding: .5rem .75rem;
    height: 34px;
    margin-bottom: -34px;
    font-weight: 300;
    position: relative;
}

.header-top{
    display: block;
    list-style: none;
    font-size: .80rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top:13px;
    right: 35px;
    z-index: 12;
    
}

.header-top>ul>li{
    display: inline;
    padding: 1rem .5rem;
}

li{
    text-align: -webkit-match-parent;
}

.header a{
    display: inline-block;
    color: #777;
}
.header a:hover {
    color: lightgray;
}


@media (min-width: 768px){
    .header-middle{ align-items: flex-end;
         /* padding: .75rem .75rem .75rem; */
 }   

 
 }
 .header-middle{
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-top: 0px;
    position: relative;
    
    
    
   
    
 }



 /* .logoatas img{
     display: block;
     width: 150px;
     height: 40px;
     margin-left: -20px;
     
 } */

 .logobawah img{
     padding-bottom: 0px;
     height: 79px;
     width: 195; 
 }


 .carousel-inner img {
     
    width: 100%;
    padding-top: 100px;
    position: inherit;
    height: 100%;
    /* height: 100%; */
    
    /* height: 80%; */
    /* height: 50%; */
}


.carousel-inner{
    width: 100%;
    height: auto;
}

.gridcarosel{
    padding: 0px;
    height: auto;
}

.gambar{
    height: 650px;
}


.drop{
    width: 500px;
    background-color: #181818;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.diskon >img{
width: 100%;
margin: 0;
padding: 0;
}

.kolomdiskon{
    width: 100%;
}

.kolomdiskon:hover{
    opacity: 0.9;
    transform: translateX(2px)
}

.kolomfullprint{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
}

/*  */

.grid5{
    margin-bottom: 0;
    background-color: white;
}

/* .grid5 h2{
    

} */

hr{
    width: 20%;
    border-top: 2px solid white;
    
}
.mt-choose{
  color: black;
}
.small-choose{
  color: black;
  font-size: 14px;
}
.cardcatalog{
    border: 0px;
}

.card-body{
    background-color: #181818;
}

.logo{
    color:#181818;
  
}

.foot1row{
    background-color: #333333;
    padding-top: 25px;
    height: 25vh;
    margin-left: 0px;
    margin-right: 0px;
    
}


.isifoot1 > p{
    margin-top: 12px;
}

.isifoot1:hover{
    transform: scale(1.1)
}


.logo:hover{
    
    color: white;
}

/* .video{
    width: 80%;
    justify-content: center;
    height: 500px;
} */

card > a{
    color: #181818;
}

/* .katalognews{
    border: #181818;
} */




/* -------------------------------------------------Menu Produk------------------------------------ */

.containerlabel {
    display: block;
    position: relative;
    padding-left: 65px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 70px;
  }


.labelmenukategori{
    padding-right: 80px;
}

.gariscontainerlabel{
    border: 1px solid #d1d1d1;
    width: 70%;
}


.labelmenukategorisize{
    padding-right: 110px;
}


  
  /* Hide the browser's default checkbox */
  .containerlabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 40px;
    height: 18px;
    width: 18px;
    background-color:#d1d1d1;
  }
  
   
  /* On mouse-over, add a grey background color */
  .containerlabel:hover input ~ .checkmark {
    background-color:#d4ab03;
  }

  
  /* When the checkbox is checked, add a blue background */
  .containerlabel input:checked ~ .checkmark {
    background-color: #d1d1d1;
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

   /* Show the checkmark when checked */
   .containerlabel input:checked ~ .checkmark:after {
    display: block;
  }

  
  /* Style the checkmark/indicator */
  .containerlabel .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #181818;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menuproduk{
      padding-top: 0px;
  }

  .katalogmenuproduk{
      padding-top: 150px;
  }

 .pro img{
     width: 80%;
 }

 .cardmenuproduk:hover{
     opacity: 0.9;
     transform: scale(1.1)
     
 }

 .tagjenisproduk{
     padding-bottom: 30px;
 }

.cardmenuproduk{
    background-color: transparent;
}

.cardbodymenuproduk{
    padding-left: 0px;
    width: 80%;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
  }
  
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ff9d00;
  }
  
  .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

  #portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
  }

 
  
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
  }
  
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
  }
  
  #portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
  }
  
  #portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #portfolio * {
    z-index: 2;
  }
  
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  
  .portfolio-modal {
    padding-right: 0px !important;
    
  }
  
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  
  .portfolio-modal .modal-content {
    padding: 20px 0;
    text-align: center;
    width: 80%;
    left: 10%;
  }
  
  .portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
    color: black;
  }
  
  .portfolio-modal .modal-content p {
    margin-bottom: 30px;
    color: black;
  }
  
  .portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
  }
  
  .portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
  }
  
  .portfolio-modal .modal-content img {
    margin-bottom: 30px;
  }
  
  .portfolio-modal .modal-content button {
    cursor: pointer;
  }
  
  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .portfolio-modal .close-modal:hover {
    opacity: 0.3;
  }
  
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
  }
  
  .portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
  }
  @media (max-width: 1000px) {
    .portfolio-modal .close-modal { 
      visibility: hidden;
    }
  }
  .fb{
    background-color: transparent;
  }
  .fb:before,
  .fb:after {
    
    position: absolute;
    width: 100%;
      height: 100%;
    left: 0;
  }
  .fb:before {
    top: 0;
  }
  .fb:after {
    top: 100%;
    color: rgb(207, 47, 47);
  }
  .fb:hover {
    
    transform: scale(1.08);
  }
  .fb:hover:after {
    top: 0;
  }
  .fb:hover:before {
    top: -100%;
  }
.portfolio-item:hover{
  transform: scale(1.08);
}

.text-muted{
  color: white!important;
}

@media (min-width: 160px) and (max-width: 800px){
  .col-xs-12{ flex: 100%;
    max-width: 100%;
  
  }   
  .col-sm-12{ flex: 100%;
    max-width: 100%;
  }  
}
